---
import MainLayout from '../../layouts/MainLayout.astro';
---
<MainLayout>
  <div class="max-w-4xl mx-auto py-8">
    <h1 class="display-medium mb-8">Legal</h1>
    
    <div class="prose prose-lg max-w-none">
      <p class="text-sm text-gray-600 mb-8">
        <em>DISCLAIMERS GRATEFULLY ADAPTED FROM <a href="https://feld.com/legal/" target="_blank" rel="noopener noreferrer" class="text-blue-600 hover:text-blue-800 underline">BRAD FELD</a></em>
      </p>
      
      <div class="space-y-4 text-gray-700">
        <ul class="list-disc pl-6 space-y-3">
          <li>
            Any opinions expressed are solely my own and do not express the views or opinions of my employer. 
            Co-writers incorporated herein by reference and their opinions are also their own and do not express 
            the views or opinions of their employers.
          </li>
          
          <li>
            This shall not constitute an offer to buy, sell, or solicit securities.
          </li>
          
          <li>
            All information provided herein is for informational purposes only and should not be relied upon 
            to make an investment decision and does not intend to make an offer or solicitation for the sale 
            or purchase of any specific securities, investments, or investment strategies.
          </li>
          
          <li>
            Nothing contained herein constitutes investment, legal, tax or other advice nor is it to be relied 
            on in making an investment or other decision.
          </li>
          
          <li>
            This may contain forward-looking statements and projections that are based on our current beliefs 
            and assumptions and on information currently available that we believe to be reasonable. However, 
            such statements necessarily involve risks, uncertainties and assumptions.
          </li>
          
          <li>
            Investments involve risk and unless otherwise stated, are not guaranteed.
          </li>
          
          <li>
            In considering any business or performance information contained herein, you should bear in mind 
            that past or projected performance is not necessarily indicative of future results, and there can 
            be no assurance that any entity referenced herein will achieve comparable results or that return 
            objectives, if any, will be met.
          </li>
          
          <li>
            All of the information herein is subject to change without notice. Information is provided as of 
            the dates set forth herein. Current or future characteristics and other information may vary 
            significantly from those provided herein and the poster undertakes no obligation to notify anyone 
            of such variances or update the information herein.
          </li>
          
          <li>
            Any and all charts, tables, and graphs contained in this post are not intended to be used to 
            assist the reader in determining which securities to buy or sell or when to buy or sell securities.
          </li>
          
          <li>
            The poster does not represent that the information herein is accurate, true or complete, makes no 
            warranty, express or implied, regarding the information herein and shall not be liable for any 
            losses, damages, costs or expenses related to its adequacy, accuracy, truth, completeness or use.
          </li>
        </ul>
      </div>
      
      <div class="mt-12 pt-8 border-t border-gray-200">
        <p class="text-sm text-gray-500">
          &copy; {new Date().getFullYear()} Ian D'Silva. All rights reserved.
        </p>
      </div>
    </div>
  </div>
</MainLayout> 